#CMake:
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
#objects and libraries
*.so
*.a
*.o
*.lo
*.la
*.d
*.pyc
*.pyo
#vi, emacs and gedit swap files
*~
*.swp
.backup-*

#generated directories:
build/
doc/
bin/
install/

#generated messages/srvs
msg_gen/
srv_gen/

#gitignores or/and logic is not advanced
_*.py

#testing output files:
.build-version
.rospack_cache
*.out
*.tar.gz

#svn
.svn/

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
*.txt.user
